In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import os

In [4]:
path_fs = os.path.join("tmp_data", "db_fs.csv")
path_fca = os.path.join("tmp_data", "db_fca.csv")
path_faue = os.path.join("tmp_data", "db_faue.csv")

# db_fs preproc

In [5]:
df_fc = pd.read_csv(path_fs)
df_fc.head(3)

,record_id,event_created_at_utc,start_date,end_date,sub_plan_id,sub_status_id,payment_number,sub_type_id,paid_period_days,merchant_id,...,usd_revenue,profit,cancelled_at,refund_price,ab_test_id,ab_group_id,app_id,platform_id,user_had_trial,autorenew_off_at
0,1999146,2021-12-08 15:48:02,2021-12-08 11:00:00,2021-12-15 11:00:00,30,3,0,3,7,1,...,0,0,NaN,0,28,6,3.0,2,True,2021-12-15 06:00:00
1,1999196,2021-12-09 04:00:09,2021-12-09 00:00:00,2022-01-09 00:00:00,33,2,21,3,31,1,...,799,679,NaN,0,28,6,2.0,2,True,NaN
2,2000623,2021-12-13 02:40:26,2021-12-12 22:00:00,2022-01-12 22:00:00,33,2,5,3,31,1,...,799,559,NaN,0,28,6,2.0,2,False,NaN